.navbar-inverse {
    background-color: #4cae4c;
}

.navbar-inverse .navbar-brand {
    color: #dff0d8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #dff0d8;
}

.subcontent, .subform {
    margin-bottom: 1px;
}