{% extends "base.html" %}

{% block content %}

    {#<div class="header clearfix">
            <h3 class="text-muted">Todo</h3>
        </div>

        <div id="todo-container"></div>#}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <table class="table table-responsive table-no-bordered ">
                <thead>
                <th>用例</th>
                <th>通过</th>
                <th>失败</th>
                </thead>
                <tbody>
                {% for cc in a %}
                    <tr>
                        <td>{{ cc[1].get('title') }}</td>
                        <td> {% if cc[1].get('pass') %}
                            <label class="label-success label">{{ cc[1].get('pass') }}</label> {% else %}0{% endif %}</td>
                        <td>{% if cc[1].get('fail') %}
                            <label class="label-danger label">{{ cc[1].get('fail') }}</label>{% else %}0{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>




{% endblock %}
{% block footer %}
     <footer class="navbar-fixed-bottom">
        <p class="text-center">&copy;fujun.zhang 2016</p>
    </footer>
{% endblock %}