{% extends "base.html" %}

{% block content %}

    <div class="container">
        {#<div class="header clearfix">
            <h3 class="text-muted">Todo</h3>
        </div>

        <div id="todo-container"></div>#}
        <div class="jumbotron" style="margin-top: 30px;">
            <h2>还什么都没有</h2>
            <p>
            <ul>
                <li>有3个任务,正在执行## ,还需9分钟,</li>
                <li>回归测试1,9个case</li>
                <li>冒烟测试,10个case,按历史统计需要5分钟</li>
                <li>Tina个人测试,111个case,按历史统计需要1小时完成</li>
                <li></li>
            </ul>
            </p>
        </div>


        <footer class="footer">
            <p>&copy;fujun.zhang 2016</p>
        </footer>
    </div>

{% endblock %}