{% extends "base.html" %}

{% block content %}

    {% include "sidebar.html" %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">{{ a.pagec }}</h2>

        <table class="table table-hover">
            <thead>
            <th>时间</th>
            <th>详细</th>
            </thead>
            <tbody>
            {% for log in a.logs %}

                <tr>
                    <td>{{ log.createtime }}</td>
                    <td><a href={{ "/execute/log/%d"%log.id }}>执行日志</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}