{% extends 'base.html' %}
{% block content %}
    <select name="brandId1" id="brandId1"  class="select2" style="background: url('/static/js/select2.png') right top no-repeat;">
        <option value="dd" name="ed">请选择</option>
        <option value="dd" name="dd"> dd</option>
        <option value="dd" name="dd"> aa</option>
        <option value="dd" name="dd"> cc</option>
        <option value="dd" name="dd"> ee</option>
        <option value="dd" name="dd"> eeeeeeee</option>
        <option value="dd" name="dd"> eee</option>
        <option value="dd" name="dd"> eeeee</option>
        <option value="dd" name="dd"> eadfd</option>
        <option value="dd" name="dd"> eceadf</option>
        <option value="dd" name="dd"> eggggg</option>
    </select>

    <script type="text/javascript">
        $(document).ready(function () {
            jQuery(".select2").select2({
                width: '100%'
            });
        })
    </script>
{% endblock %}