<div style="left: 378.719px; top: 329px; min-width: 152px; border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 12px;
background: rgba(255, 255, 255, 0.901961); padding: 2px 0px; font-size: 90%; position: fixed;
 overflow: auto; max-height: 50%;">

    <input value="Texas" style="padding: 2px 6px; cursor: default; color: white; background: rgb(63, 149, 191);">
    <input
            value="Tennessee" style="padding: 2px 6px; cursor: default;">
    <input value="Utah" style="padding: 2px 6px; cursor: default;">
    <input
            value="West Virginia" style="padding: 2px 6px; cursor: default;">
    <input value="Montana" style="padding: 2px 6px; cursor: default;">
    <input
            value="North Carolina" style="padding: 2px 6px; cursor: default;">
    <input value="North Dakota"
           style="padding: 2px 6px; cursor: default;"><input
        value="Kentucky" style="padding: 2px 6px; cursor: default;">
    <input value="South Dakota"
           style="padding: 2px 6px; cursor: default;"><input
        value="South Carolina" style="padding: 2px 6px; cursor: default;">
    <input value="Vermont"
           style="padding: 2px 6px; cursor: default;"><input
        value="Connecticut" style="padding: 2px 6px; cursor: default;">
    <input value="Minnesota"
           style="padding: 2px 6px; cursor: default;"><input
        value="Washington" style="padding: 2px 6px; cursor: default;"><input value="Massachusetts"
                                                                             style="padding: 2px 6px; cursor: default;">
</div>