{#addcase 的 case内容#}
<div class="subcontent ">
    <span class="col-lg-1"><label class="label label-info">1</label></span>
    <span class="content col-lg-2">page</span>
    <span class="content col-lg-2">element</span>
    <span class="content col-lg-2">action</span>
    <span class="content col-lg-2">value</span>
    <span class="content col-lg-3"><button type="button"
                                           class="btn btn-info">编辑</button></span>
</div>
<div class="subform">
    <form>
        <span class="col-lg-1"><label class="label label-info">2</label></span>
        <span class="col-lg-2 content"> <input class="form-control" type="text" id="page"
                                               name="page" placeholder="页面"/></span>
        <span class="col-lg-2 content"> <input class="form-control" type="text"
                                               name="selenium"
                                               id="selenium" placeholder="元素"/></span>
        <span class="col-lg-2 content"> <input class="form-control" type="text"
                                               name="action"
                                               id="action" placeholder="动作"/></span>
        <span class="col-lg-2 content"> <input class="form-control" type="text" name="input"
                                               placeholder="输入值"/></span>
        <span class="col-lg-2 content"> <button class="btn btn-info" type="submit"
                                                id="submit">保存</button></span>
    </form>
</div>