{% extends 'base.html' %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">{{ a.pagec }} | {{ a.status }}

        </h2>
        {% if a.status =='running' %}
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                     aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        {% endif %}
        <div class="btn-group">
            <button class="btn-success"><a class="btn-success" target="_blank" href={{ "/modifyTask/"+a.tid }}>编辑任务</a>
            </button>
            <a id="addCase" href={{ "/log/"+ a.tid }}>
                <button class="btn-success">查看日志</button>
            </a>
            <button class="btn-success" id="excute" data-execute="">执行自动化</button>
        </div>
        <table class="table table-hover">
            <thead>
            <th>用例</th>
            <th>状态</th>
            <th>详细</th>
            </thead>
            {% for c in a.case %}
                <tr>
                    <td>{{ c.title }}</td>
                    <td>undone</td>
                    <td><a href={{ "/tasks/%s/%d"%(a.tid,c.id) }}>详细</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            var executeid;
            $("#excute").click(function () {
                var tid = {{ a.tid }};
                $.ajax({
                    type: 'post',
                    url: '/execute',
                    data: {tid: tid},
                    dataType: 'json'
                }).done(function (resp) {
                    if (resp.status == 'success') {
                        executeid = resp.eid
                        console.info(executeid)
                        window.location.reload();
                    } else {

                    }
                })
            });


            function progress() {
                var status = {{ a.status }};
                var tid = {{ a.tid }};
                if (status == 'running') {
                    $.ajax({
                        type: 'get',
                        url: '/progress/' + tid
                    }).done(function (resp) {
                        if(resp.status=='success'){

                        }
                    })
                }
            }

            setInterval(progress(), "10000");

        });
    </script>
{% endblock %}
