<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{% if a.showtask %}active{% endif %}"><a href="/tasks">Tasks</a></li>
        <li class="{% if a.showcase %}active{% endif %}"><a href="/showcase">TestCases</a></li>
        <li class="{% if a.treand %}active{% endif %}"><a href="#">Treadline</a></li>
        <li><a href="#">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="{% if a.pageeditor %}active{% endif %}"><a href="/pageditor">Page</a></li>
        <li class="{% if a.addcase %}active{% endif %}"><a href="/addcasePage">Add Case</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Nav item again</a></li>
        <li><a href="#">One more nav</a></li>
        <li><a href="#">Another nav item</a></li>
    </ul>
</div>
